/* 1.- Set the general characteristics of our page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* 2.- Set body of html */
body{
    min-height: 100vh;
    background: linear-gradient(45deg, #4e65ff, #92effd);
}

/* 3.- Set div class:navigation  */
.navigation{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 120px;
    height: 60px;
    background: #fff;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

/* 4.- Set div class:.navigation .userBx  */
.navigation .userBx{
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
}

/* 5.- Set div class: .navigation .userBx .imgBx */
.navigation .userBx .imgBx{
    position: relative;
    min-width: 60px;
    height: 60px;
    overflow: hidden;
    background: #000;
    border-radius: 50%;
    border: 10px solid #fff;
}

/* 6.- Set div class-object: .navigation .userBx .imgBx img  */
.navigation .userBx .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 7.- Set div class; .navigation .menuToggle  */
.navigation .menuToggle{
    position: relative;
    width: 60px;
    height: 60px;
    /* background: #f00; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 8.- Set div class and pseudo object ::before; .navigation .menuToggle::before  */
.navigation .menuToggle::before{
    content: '';
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(-10px);
    box-shadow: 0 10px #555;
    transition: 0.5s;
}

/* 9.- Set div class and pseudo object ::after; .navigation .menuToggle::after  */
.navigation .menuToggle::after{
    content: '';
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(10px);
    /* box-shadow: 0 10px #555; */
    transition: 0.5s;
}

/* 11.- Set div class and pseudo object ::before; .navigation.active .menuToggle::before  */
.navigation.active .menuToggle::before{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 #555;
}

/* 12.- Set div class and pseudo object ::after; .navigation.active .menuToggle::after  */
.navigation.active .menuToggle::after{
    transform: translateY(0px) rotate(-45deg);
}